$color: black;
$border:5px solid;
$border-radius: 5px;
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color: #282928;
$margin-top: 20px;
$margin-bottom:20px;


.img-fluid{
  color: $color;
  border: $border;
  border-radius: $border-radius;
}
footer {
    background: #ffffff;
    font-size: 10px bold;
    margin-top: 10px;
    font-family: $font-family;
  }
  footer a {
    color:$color;
    font-family: $font-family;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #fffffe;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid #fefffe;
  }
  footer a:hover {
    color: rgb(255, 255, 255);
  }
//  NAV BAR

body{
 font-family: $font-family;
  color: $color;
  border: $border;
  border-radius: $border-radius; 
  

} 
//RESPONSIVE TEXT
html {
  font-size: calc(60% + 1.5vmin);
}
main {
  max-width: 40rem;
  margin: 0 auto;
}
* {
  font-size: 1rem;
  font-family: $font-family;

}
[class^="col-"]{
  margin-top: $margin-bottom;
  margin-bottom:$margin-bottom;
   color: $color;
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;


  
  }  
  .card-body{
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;

}  
  .shading{
    color: $color;
    border: $border;
    border-radius: $border-radius;
    
}  
#jumbo{
  color: $color;
  border: $border;
  border-radius: $border-radius;
  font-family: $font-family;
  margin-top: $margin-top;

}
h1{
  font-family: $font-family;

}
